<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

<body class="text-center">

  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="form-signin">
    <img class="mb-4" src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72"
      height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>

    <input #userName="ngModel" [(ngModel)]="model.userName" type="email" name="userName" id="userName"
      class="form-control" placeholder="Email address" required autofocus>
    <div *ngIf="userName.invalid&&userName.dirty" class="alert alert-danger">Kulanıcı giriniz</div>
   
    <input #password="ngModel" [(ngModel)]="model.password" type="password" name="password" id="password"
      class="form-control" placeholder="Password" required>
    <div *ngIf="password.invalid&&password.dirty" class="alert alert-danger">Şifre giriniz</div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
  </form>
</body>